---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
	<main>
		<h1>lukeh990</h1>
		<h2>WIP</h2>
		<ul class="socials">
			<li>
				<a rel="me" href="https://tech.lgbt/@lukeh990" target="_blank" rel="noopener noreferrer">Mastodon</a>
				<a href="https://github.com/lukeh990" target="_blank" rel="noopener noreferrer">Github</a>
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	.socials {
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
