---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi! am Luke.  I am studying Computer Science. Interests: Web Development, Rust, Self-Hosting, AI, Networking, Business, Linux" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>lukeh990 - {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'JetBrains Mono', monospace;
		background: #235488;
	}
	h1 {
		font-size: 5em;
		text-transform: uppercase;
		font-weight: 800;
	}
	h2 {
		font-size: 3em;
		text-transform: uppercase;
		font-weight: 600;
	}
	a {
		color: #fff;
	}
	@font-face {
		font-family: 'JetBrains Mono';
		src: url("fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf") format("truetype");
		font-weight: 400;
	}
	@font-face {
		font-family: 'JetBrains Mono';
		src: url("fonts/JetBrains_Mono/JetBrainsMono-Italic.ttf") format("truetype");
		font-weight: 400;
		font-style: italic;
	}
	@font-face {
		font-family: 'JetBrains Mono';
		src: url("fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf") format("truetype");
		font-weight: 800;
	}
	@font-face {
		font-family: 'JetBrains Mono';
		src: url("fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf") format("truetype");
		font-weight: 600;
	}
</style>
